body{
  font-family: 'Inter', sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  border: 0;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}

/* navigation bar */
.header_logo{
  height: 115px;
  width: 155px;
}
a {
    display: block;
    color: #000;
    text-decoration: none;
}
li a:hover {
 font-weight: bolder;
 color: #124da6;
}
.header_logo:hover{
  height: 120px;
  width: 160px;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 2vh 5vw 0;
    align-items: center;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    list-style-type: none;
}


/* about */
.about{
  margin: auto auto 100px;
}
.about img{
  width: 50vw;
  height: 24em;
}
.about p{
  font-size: 1.8em;
}

/* footer */
#footer{
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
}
.footer{
  display: inline-flex;
  align-items: center;
}
.footer img{
  height: 95.83px;
  width: 129.16px;
  margin-right: 20px;
}
.icon{
  margin: 0;
  border: 0;
  padding: 0;
}
.contact p{
  margin: 0;
  border: 0;
  padding: 0;
}
@media (min-width: 320px) and (max-width: 700px) {
/*Burger menu*/
.burger-menu {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  transition: 0.3s ease;
}
.burger-menu::before,
.burger-menu::after {
  content: '';
  background: #03A6C9;
  position: absolute;
  width: 50%;
  height: 2px;
  transition: 0.3s ease;
  margin-left: 25%;
}
.burger-menu::after {
  bottom: 0;
}
.burger-menu span {
  background: #124da6;
  position: absolute;
  width: 100%;
  top: 9px;
  height: 2px;
}
/*Menu*/
.main-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  padding: 1px 10px 20px;
  transform: translateX(100%);
}

.nav-list {
  flex-direction: column;
  text-align: right;
}

/* active */

.burger-menu.active {
  transform: translateX(-40vw);
  transition: 1s ease;
}

.burger-menu.active::before {
  background-color: #000000;
  transform: rotate(50deg);
  top: 9px;
  transition: 0.3s ease;
  width: 80%;
}
.burger-menu.active::after {
  background-color: #000000;
  transform: rotate(-50deg);
  bottom: 9px;
  transition: 0.3s ease;
  width: 80%;
}

.burger-menu.active span {
  transform: scale(0);
}

.main-nav.active {
 transform: translate(0);
 transition: 0.3s ease;
 z-index: 3;
 top: 10px;
}
.nav-list.active{
background-color: #ffffff;
padding-right: 40px;
}

/*about*/
.about img{
  width: 70vw;
  height: 20em;
}
}
