body{
  font-family: 'Inter', sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  border: 0;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}


/* navigation bar */
.header_logo{
  height: 115px;
  width: 155px;
}
a {
    display: block;
    color: #000;
    text-decoration: none;
}
li a:hover {
 font-weight: bolder;
 color: #124da6;
}
.header_logo:hover{
  height: 120px;
  width: 160px;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 2vh 5vw 0;
    align-items: center;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    list-style-type: none;
}


/* bg home page */
.bg-grad{
  background-image:url("images/home bckgrd.jpg");
  width: 100%;
  height: 32.2rem;;
  object-fit: contain;
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
}
.quote{
  font-family: 'Ingrid Darling', cursive;
  padding: 20px 0;
  position: absolute;
  top: 95px;
  width: 100%;
}
.quote p{
  line-height: 0.6;
  font-size: 7.5rem;
  color: black;
  margin: 0;
  text-align: center;
}

/* services */
#services{
  margin-top: 70px;
}
#services p{
  font-size: 70px;
  font-family: 'Inder', sans-serif;
  margin-top: 0;
}
.blue-back{
  background-color: #03A6C9;
  color: #ffffff;
  padding: 25px 0 10px;
  margin-bottom: 70px;
}
.offer{
  margin-bottom: 50px;
}
.offer h5{
  margin: 0;
  height: auto;
  width: 275px;
}
.offer img{
  width: 275px;
  height: 163px;
}
.offer-3{
  margin-left: 90px;
  display: inline-table;
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
}
.text-3{
  font-size: 24px;
}
.offer-2{
  margin-left: 90px;
  display: inline-table;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 10px 0;
}

.text-2{
  font-size: 28px;
}
.offer-1{
  display: inline-table;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 10px 29px;
}
.text-1{
  font-size: 28px;
}
.lists{
  text-align: left;
  font-size: 30px;
  width: 40%;
}
.collage{
  margin-top: 45px;
  height: 95%;
  width: 95%;
}
.acts{
  width: 60%;
}
.otherr{
  display: flex;
  align-items: center;
  margin: 0px 5% 100px;
}


/* footer */
#footer{
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
}
.footer{
  display: inline-flex;
  align-items: center;
}
.footer img{
  height: 96px;
  width: 130px;
  margin-right: 20px;
}
.icon{
  margin: 0;
  border: 0;
  padding: 0;
}
.contact p{
  margin: 0;
  border: 0;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 700px) {
/*Burger menu*/
.burger-menu {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  transition: 0.3s ease;
}
.burger-menu::before,
.burger-menu::after {
  content: '';
  background: #03A6C9;
  position: absolute;
  width: 50%;
  height: 2px;
  transition: 0.3s ease;
  margin-left: 25%;
}
.burger-menu::after {
  bottom: 0;
}
.burger-menu span {
  background: #124da6;
  position: absolute;
  width: 100%;
  top: 9px;
  height: 2px;
}
/*Menu*/
.main-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  padding: 1px 10px 20px;
  transform: translateX(100%);
}

.nav-list {
  flex-direction: column;
  text-align: right;
}

/* active */

.burger-menu.active {
  transform: translateX(-40vw);
  transition: 1s ease;
}

.burger-menu.active::before {
  background-color: #000000;
  transform: rotate(50deg);
  top: 9px;
  transition: 0.3s ease;
  width: 80%;
}
.burger-menu.active::after {
  background-color: #000000;
  transform: rotate(-50deg);
  bottom: 9px;
  transition: 0.3s ease;
  width: 80%;
}

.burger-menu.active span {
  transform: scale(0);
}

.main-nav.active {
 transform: translate(0);
 transition: 0.3s ease;
 z-index: 3;
 top: 10px;
}
.nav-list.active{
background-color: #ffffff;
padding-right: 40px;
}
}


@media (min-width: 320px) and (max-width: 1076px) {
/*services*/
#services p{
  font-size: 40px;
  margin-bottom: 0;
}
.offer-2{
margin: 10px 0 20px;
}
.offer-3{
  margin: 0;
}
.offer-1{
  margin: 0 0 10px;
}
}


@media (min-width: 320px) and (max-width: 855px) {
/* bg */
.quote{
  top: 200px;
}
/*orderr*/
.lists{
  width: 100%;
}
.collage{
  height: 95%;
  width: 95%;
}
.acts{
  width: 100%;
}
.otherr{
  display: inline-block;
}
}
